/* Configuración General */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

/* Navegación */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #502c48;
    color: white;
    padding: 1rem 5%;
}

.nav-links {
    display: flex;
    list-style: none;
}

.nav-links li {
    margin-left: 20px;
}

.nav-links a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

/* Sección Hero (Bienvenida) */
.hero {
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), 
                      url('https://images.unsplash.com/photo-1523050335392-93851179ae22?auto=format&fit=crop&w=1350&q=80');
    background-size: cover;
    background-position: center;
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
}

.hero-content h2 {
    font-size: 3rem;
    margin-bottom: 10px;
}

.btn {
    display: inline-block;
    background-color: #650854;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 20px;
}

/* Tarjetas de Información */
.features {
    display: flex;
    justify-content: space-around;
    padding: 50px 5%;
    background-color: #f4f4f4;
}

.card {
    background: white;
    padding: 20px;
    width: 30%;
    text-align: center;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.card h3 {
    color: #2c3e50;
    margin-bottom: 10px;
}

/* Footer */
footer {
    text-align: center;
    padding: 20px;
    background-color: #2c3e50;
    color: white;
}